@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #080710;
    overflow: hidden;
}

.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0; 
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: 10%;
    top: 10%;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: 10%;
    bottom: 10%;
}

.authBox {
    width: 90%; /* Ensure it does not exceed the viewport width */
    max-width: 400px;
    padding: 2rem;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    text-align: center;
    overflow: hidden; /* Prevent internal overflow */
}

.authTitle {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    margin-top: 15px;
    padding: 12px;
}

.inputContainer input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #e5e5e5;
    font-size: 16px;
    padding: 5px;
}

.inputContainer span {
    color: #23a2f6;
    font-size: 18px;
    margin-right: 10px;
}

.authButton {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
    border: none;
}

.authButton:hover {
    background-color: #e0e0e0;
}

.authFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

.authFooter button {
    background: none;
    color: #23a2f6;
    border: none;
    cursor: pointer;
}
